.sidebar{
    border-right: 1px solid rgba(0,0,0,0.09);
    background: white;
}

.sidebar-item{
    height: 70px;
}

.sidebar-container{
    position: relative;
    z-index: 10;
}

.sub-sidebar{
    position: absolute;
    top: 0;
    left: 100%;
    background:#eee;
}