<div class="col p-0 h-100 sidebar-container">
  <div class="sidebar h-100 w-100">
      <ng-container *ngFor="let item of sideBarItems" >
          <div *ngIf="item.children; else sidebardiv" (click)="enter(item)" class="sidebar-item mb-1 px-2 d-flex align-items-center">
            {{item.name}}
          </div>
          <ng-template #sidebardiv>
              <div class="sidebar-item mb-1 px-2 d-flex align-items-center" [routerLink]="[item.route]">
               {{item.name}}
              </div>
            </ng-template>
        </ng-container>
  </div>  
  <div *ngIf="showSubPanel" #subsidebar class="sub-sidebar h-100 w-100">
      <div *ngFor="let item of hoveredItem.children" class="sidebar-item mb-1 px-2 d-flex align-items-center" [routerLink]="[item.route]">
        {{item.name}}
      </div>
    </div>  
</div>
