header{
    height: 70px;
    box-shadow: 0 -2px 18px -5px rgb(0,0,0);
    position: relative;
    z-index: 100;
}

.home-content{
    height: calc(100% - 70px);
}

.card{
    height: 100%;
    width: 200px;
    display: inline-block;
    margin-right: 10px;
}
