<header class="px-2 d-flex align-items-center">
  Powerme
</header>
<div class="container-fluid home-content">
  <div class="row h-100">
    <router-outlet name="sidebar"></router-outlet>
    <div class="col" style="min-width:0;margin-top:20px;">
      <div class="h-25">
        <app-cardcarousal>
          <div *ngFor="let card of cards" class="card  d-inline-flex align-items-center justify-content-center">
            {{card}}
          </div>
        </app-cardcarousal>
      </div>
        <router-outlet></router-outlet>
    </div>
  </div>
</div>