.cardcarousal{
    overflow:hidden;
    white-space: nowrap;
    position: relative;
}

.left-arrow{
    position: absolute;
    left: 0;
    top: 50%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid rgb(0,0,0,0.5);
    transform: translateY(-50%);
}

.right-arrow{
    position: absolute;
    right: 0;
    top: 50%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid rgb(0,0,0,0.5);
    transform: translateY(-50%);
}

.carousal-container{
    position: relative;
}

.right-arrow,.left-arrow{
    background: white;
    opacity: 0.2;
    transition: 0.3s all ease-in;
}

.right-arrow:hover,.left-arrow:hover{
    opacity: 1;
}