<div class="carousal-container h-100">
  <div class="h-100 cardcarousal" #carousal>
    <ng-content></ng-content>
  </div>
  <div class="left-arrow d-flex align-items-center justify-content-center"
  *ngIf="left > 0" (click)="move('left')"> < </div>
  <div class="right-arrow d-flex align-items-center justify-content-center" (click)="move('right')"
   *ngIf="right != scrollwidth"> > </div>
</div>
